<div class="text-4xl font-inter font-semibold text-center mt-10">
    Technologies Used
</div>
<div class="flex justify-center px-2 mt-10">
    <div class="grid grid-cols-4 gap-16">
        <!-- Angular -->
        <div class="flex justify-center p-6 bg-gray-950 rounded-lg shadow-md">
            <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Angular" class="w-20 h-20">
        </div>
        <!-- Node.js -->
        <div class="flex justify-center p-6 bg-gray-950 rounded-lg shadow-md">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="Node.js" class="w-20 h-20">
        </div>
        <!-- Express.js -->
        <div class="flex justify-center p-6 bg-gray-950 rounded-lg shadow-md">
            <img src="https://hackersandslackers-cdn.storage.googleapis.com/2020/05/express.png" alt="Express.js" class="w-20 h-20">
        </div>
        <!-- MongoDB -->
        <div class="flex justify-center p-6 bg-gray-950 rounded-lg shadow-md">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Mongodb-svgrepo-com.svg/640px-Mongodb-svgrepo-com.svg.png" alt="MongoDB" class="w-20 h-20">
        </div>
        <!-- Firebase -->
        <div class="flex justify-center p-6 bg-gray-950 rounded-lg shadow-md">
            <img src="https://firebase.google.com/images/brand-guidelines/logo-logomark.png" alt="Firebase" class="w-20 h-20">
        </div>
        <div class="flex justify-center p-6 bg-gray-950 rounded-lg shadow-md">
            <img src="https://striking-kindness-e0d93214bb.media.strapiapp.com/Groq_logo_a170a51625.jpg" alt="Groq" class="w-20 h-20">
        </div>
        
        <!-- Gemini -->
        <div class="flex justify-center p-6 bg-gray-950 rounded-lg shadow-md">
            <img src="https://cloudfront-us-east-1.images.arcpublishing.com/eluniversal/TIWZQHVBIFF5LBKMWGH4HWE6AQ.jpg" alt="Gemini" class="w-20 h-20">
        </div>
    </div>
</div>
