<app-header></app-header>
<div class="grid grid-cols-12 min-h-screen">
  <!-- Sidebar -->
  <div class="border col-span-12 md:col-span-1 bg-gray-800 text-white">
    <app-side-menu></app-side-menu>
  </div>

  <!-- Main Content -->
  <div class="absolute bottom-10 right-0 w-40 h-40 bg-teal-500 rounded-full filter blur-3xl opacity-50"></div>
  <div class="col-span-12 md:col-span-11 bg-gray-800">
    <div class="p-10 bg-gray-800 rounded-lg shadow-md">
      <!-- Pass selectedFeature to FeaturesHeaderComponent -->
      <app-features-header 
        [selectedFeature]="selectedFeature" 
        (featureSelected)="onFeatureSelected($event)">
      </app-features-header>
      
      <!-- Dynamic Component Area with ngSwitch -->
      <div [ngSwitch]="selectedFeature" class="dynamic-content mt-6">
        <div *ngSwitchCase="'idea-validation'">
          <app-idea-validation></app-idea-validation>
        </div>
        <div *ngSwitchCase="'market-insights'">
          <app-market-insights></app-market-insights>
        </div>
        <div *ngSwitchCase="'financial-projections'">
          <app-financial-projections></app-financial-projections>
        </div>
        <div *ngSwitchCase="'risk-analysis'">
          <app-risk-analysis></app-risk-analysis>
        </div>
        <div *ngSwitchCase="'generate-landing-page'">
          <app-landingpage></app-landingpage>
        </div>
        <div *ngSwitchCase="'generate-logo'">
          <app-logogenerate></app-logogenerate>
        </div>
        <div *ngSwitchDefault>
          <p class="text-gray-500">Select a feature to view its content.</p>
        </div>
      </div>
    </div>
  </div>
</div>